.app-container {
  padding: 1%;
}
.hover-card-content {
  width: 300px; /* Adjust this value as needed */
  max-width: 90vw; /* Ensures it doesn't overflow on smaller screens */
}
.SelectedBorRow {
  background-color: #801e1e;
  color: white;
}
.tab-content {
  font-size: x-large;
}
.table {
  font-size: large;
}
.withdraw-card {
  font-size: large;
}
.fontSizeLarge {
  font-size: large;
}
.fontSizeMed {
  font-size: large;
}
.fontSizeXLarge {
  font-size: xx-large;
}
.smoke-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.smoke {
  position: absolute;
  bottom: -100px;
  width: 200px;
  height: 200px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEaSURBVGhD7dlLCsIwFEbhgHtzo4KD6iLaTTlVEz0XafJomzRNaX4vHohk8HFv0mEt9mXbtsbe/+/+OM8XlQjgEeAR4BHgEeAR4BHgETgFeGz5qzk+6rg8X/Uv5e99/5ajGJEFsUYiMFI6LPEIsAhYZMgiUHokHoHSI+GR/+ER4BHgEeAR4BHgEeAR4BHgEeAR4BHgEagDsr9erRF+M6oTcrjdrREes9RAzoF8A7kE8gvkGogL5B7IK5BPIL9ApoG4QOaBjAN5+x5yNMbHLEcQDd2HJgOtJ6vzFJl9r/dkdSPRnazuxzX0ryR/sTrXK7mSpYdVhJErUa5k3ZUo10gRVrLumZkr0eYtE/lVqnpTD2K/AEwLNaSR/5PoAAAAAElFTkSuQmCC")
    no-repeat;
  background-size: contain;
  opacity: 0;
  animation: rise 3s infinite;
}
.app-logo {
  height: 69px; /* Adjust this value to match your desired logo size */
  width: auto; /* This maintains the aspect ratio of your logo */
  margin-right: 20px; /* Adds some space between the logo and other elements */
  padding-left: 25px;
}

/* Make the logo responsive */
@media (max-width: 768px) {
  .app-logo {
    height: 30px; /* Smaller size for mobile devices */
  }
}

/* Responsive adjustments */
@media (max-width: 2480px) {
  .container {
    padding: 1rem;
  }

  .chakra-tabs__tab {
    font-size: 2rem;
  }
}
