
.app-container {
  padding: 1%;
}

.SelectedBorRow {
  background-color: #505050;
  color: white;
}
.tab-content {
  font-size: x-large;
}
.table {
  font-size: large;
}
.withdraw-card {
  font-size: large;
}
.fontSizeLarge {
  font-size: large;
}
.fontSizeXLarge {
  font-size: xx-large;
}

.app-logo {
  height: 69px; /* Adjust this value to match your desired logo size */
  width: auto; /* This maintains the aspect ratio of your logo */
  margin-right: 20px; /* Adds some space between the logo and other elements */
  padding-left: 25px;
}

/* Make the logo responsive */
@media (max-width: 768px) {
  .app-logo {
    height: 30px; /* Smaller size for mobile devices */
  }
}

/* Responsive adjustments */
@media (max-width: 2480px) {
  .container {
    padding: 1rem;
  }

  .chakra-tabs__tab {
    font-size: 2rem;
  }
}

